<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    // $("div.item button").click(function (e) {
    //     console.log("clicked");
    //     e.preventDefault();
    //     $(this).parent().remove();
    // });

</script>
</body>

<footer>Copyright ©️ Shahzad Ansari </footer>

</html>