<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-List</title>
    <link type="text/css" rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="box" id="heading">
        <h1>Hey ! Well Today is <%= KindofDay %>
        </h1>
    </div>

    <div class="box">

        <% for (var i=0; i < newListItems.length ; i++) { %>
            <div class="item">
                <input type="checkbox">

                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
        <% } %>

    



    <form class="item" action="/add" method="POST">
        <input type="text" class="" name="newItem" placeholder="New Item" required autocomplete="off"> <br>
        <button type="submit" name="button">+</button>
    </form>


</div>

  
</body>

</html>